<h6 class="bcg">Tuberculose (BCG)</h6>
<p>
    La vaccination contre la tuberculose est le plus souvent recommandée à partir de 1 mois et jusqu’à l’âge de 15 ans
    chez les enfants exposés à un risque élevé de tuberculose.
</p>

<h6 class="dtp-coq-hib">Diphtérie-Tétanos-Poliomyélite (DTP)</h6>
<p>
    Les rappels de l’adulte sont recommandés à âges fixes soit 25, 45, 65 ans et ensuite tous les dix ans.
</p>

<h6 class="dtp-coq-hib">Coqueluche</h6>
<p>
    Le rappel de l’adulte contre la coqueluche se fait à 25 ans avec rattrapage possible jusqu’à 39 ans.
    La vaccination contre la coqueluche de la femme enceinte dès le 2e trimestre de grossesse est recommandée pour
    protéger son nourrisson.
</p>

<h6 class="dtp-coq-hib">Haemophilus Influenzae de type b (Hib)</h6>
<p>
    Pour les enfants n’ayant pas été vaccinés avant 6 mois, un rattrapage vaccinal peut être effectué jusqu’à l’âge de 5
    ans avec le vaccin monovalent (1 à 3 doses selon l’âge).
</p>

<h6 class="hepatite-b">Hépatite B</h6>
<p>
    Si la vaccination n’a pas été effectuée au cours de la 1re année de vie, elle peut être réalisée jusqu’à 15 ans
    inclus.
    À partir de 16 ans, elle est recommandée uniquement chez les personnes exposées au risque d’hépatite B.
</p>

<h6 class="pneumo-acwy-b">Pneumocoque</h6>
<p>
    Cette vaccination est obligatoire chez tous les nourrissons et est recommandée aux personnes de 65 ans et plus.
</p>

<h6 class="ror">Rougeole-Oreillons-Rubéole (ROR)</h6>
<p>
    Pour les personnes nées à partir de 1980, être à jour signifie avoir eu deux doses de vaccin.
</p>

<h6 class="pneumo-acwy-b">Méningocoques ACWY</h6>
<p>
    La vaccination est obligatoire chez tous les nourrissons depuis le 1er janvier 2025 avec une dose à 6 mois suivie
    d’un rappel à 12 mois.
    Elle est également recommandée chez les adolescents entre 11 et 14 ans.
</p>

<h6 class="pneumo-acwy-b">Méningocoque B</h6>
<p>
    Depuis janvier 2025, cette vaccination est obligatoire chez tous les nourrissons à 3, 5 et 12 mois.
</p>

<h6 class="rotavirus">Rotavirus</h6>
<p>
    Recommandé à tous les nourrissons à partir de 2 mois. Deux à trois doses (par voie orale) sont nécessaires selon le
    vaccin.
</p>

<h6 class="hpv">Papillomavirus humain (HPV)</h6>
<p>
    La vaccination est recommandée chez les filles et les garçons âgés de 11 à 14 ans avec un rattrapage jusqu’à 19 ans
    inclus.
    De plus, la vaccination est recommandée aux hommes ayant des relations sexuelles avec des hommes (HSH) jusqu’à l’âge
    de 26 ans.
</p>

<h6 class="grippe">Grippe</h6>
<p>
    La vaccination est recommandée, chaque année, notamment pour les personnes à risque de complications :
    les personnes âgées de 65 ans et plus, celles atteintes de certaines maladies chroniques dont les enfants à partir
    de 6 mois,
    les femmes enceintes et les personnes souffrant d’obésité (IMC>40 kg m²).
    La vaccination contre la grippe peut aussi être proposée à tous les enfants de 2 à 17 ans.<br>
    En automne, en plus des personnes à risque ciblée par la grippe, cette vaccination est aussi recommandée aux
    personnes atteintes de troubles psychiatriques, de démence ou de trisomie 21.
    Au printemps, la vaccination est recommandée pour les personnes de 80 ans et plus, les résidents d’EHPAD et USLD, et
    les personnes immunodéprimées quel que soit leur âge.
</p>
<h6 class="covid">COVID-19</h6>
<p>
    En automne, en plus des personnes à risque ciblée par la grippe, cette vaccination est aussi recommandée aux
    personnes atteintes de troubles psychiatriques, de démence ou de trisomie 21.
    Au printemps, la vaccination est recommandée pour les personnes de 80 ans et plus, les résidents d’EHPAD et USLD, et
    les personnes immunodéprimées quel que soit leur âge.
</p>
<h6 class="zona">Zona</h6>
<p>
    La vaccination est recommandée chez les personnes de 65 ans et plus.
</p>
<h6 class="vrs">VRS</h6>
<p>
    La vaccination est recommandées aux personnes de 75 ans et plus et aux personnes de 65 ans et plus ayant des
    infections respiratoires chroniques.
</p>