<div class="fr-table fr-table--bordered fr-table--no-scroll">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table class="vaccination-table">
                    <caption>Compétences du Pharmacien dans la vaccination</caption>
                    <thead>
                        <tr>
                            <th rowspan="2">Maladie ou agent infectieux concerné</th>
                            <th colspan="4">Pharmaciens y compris exerçant en LBM et PUI</th>
                        </tr>
                        <tr>
                            <th colspan="2">Moins de 11 ans</th>
                            <th colspan="2">11 ans et plus</th>
                        </tr>
                        <tr>
                            <th>Compétences</th>
                            <th>Prescription</th>
                            <th>Administration</th>
                            <th>Prescription</th>
                            <th>Administration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="vrs">Bronchiolite (VRS)</td>
                            <td colspan="2">SANS OBJET</td>
                            <td>OUI<sub>e</sub></td>
                            <td>OUI<sub>e</sub></td>
                        </tr>
                        <tr>
                            <td class="dtp-coq-hib">Coqueluche</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="covid">Covid-19</td>
                            <td>OUI<sub>d</sub></td>
                            <td>OUI<sub>d</sub></td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="dtp-coq-hib">Diphtérie, Tétanos, Poliomyélite</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="hepatite-b">Fièvre jaune (uniquement dans les centres agréés)</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI<sub>b</sub></td>
                            <td>OUI<sub>c</sub></td>
                        </tr>
                        <tr>
                            <td class="grippe">Grippe saisonnière</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="dtp-coq-hib">Infections invasives à haemophilus influenza B</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td colspan="2">SANS OBJET</td>
                        </tr>
                        <tr>
                            <td class="hepatite-b">Hépatite A</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="hepatite-b">Hépatite B</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="pneumo-acwy-b">Infections invasives à méningocoques</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="hpv">Infections à papillomavirus humain (HPV)</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="pneumo-acwy-b">Infections invasives à pneumocoques</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="vrs">Mpox (uniquement dans les centres agréés)</td>
                            <td colspan="2">SANS OBJET</td>
                            <td>OUI<sub>f</sub></td>
                            <td>OUI<sub>f</sub></td>
                        </tr>
                        <tr>
                            <td class="hpv">Rage en préexposition</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                        <tr>
                            <td class="rotavirus">Rotavirus</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td colspan="2">SANS OBJET</td>
                        </tr>
                        <tr>
                            <td class="ror">Rougeole oreillons et rubéole (ROR)</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI<sub>b</sub></td>
                            <td>OUI<sub>c</sub></td>
                        </tr>
                        <tr>
                            <td class="bcg">Tuberculose (BCG) (en structures collectives)</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI<sub>b</sub></td>
                            <td>OUI<sub>c</sub></td>
                        </tr>
                        <tr>
                            <td class="zona">Varicelle</td>
                            <td>NON</td>
                            <td>NON</td>
                            <td>OUI<sub>b</sub></td>
                            <td>OUI<sub>c</sub></td>
                        </tr>
                        <tr>
                            <td class="zona">Zona</td>
                            <td colspan="2">SANS OBJET</td>
                            <td>OUI</td>
                            <td>OUI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p class="vaccination-legend">
    LBM : Laboratoire de biologie médicale / PUI : pharmacie à usage intérieur (Hôpitaux)<br>
    * Sous réserve d'avoir recu une formation spécifique sur la vaccination
</p>
<dl>
    <dt><strong>a</strong> : sur prescription de l'acte d'injection par un médecin ;</dt>
    <dt><strong>b</strong> : à l'exception des personnes immunodéprimées ;</dt>
    <dt><strong>c</strong> : en lien avec le médecin prescripteur chez les immunodéprimés ;</dt>
    <dt><strong>d</strong> : à toute personne de 5 ans et plus, ciblée ou non par les recommandations ;</dt>
    <dt><strong>e</strong> : aux femmes enceintes immunocompétentes entre 32 et 36 semaines d'aménorrhée durant la période épidémique du VRS ;</dt>
    <dt><strong>f</strong> : à partir de 18 ans.</dt>
</dl>