<div class="fr-table fr-table--bordered fr-table--no-scroll">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table class="vaccination-table">
                    <caption>Calendrier Vaccinal 2025</caption>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">Âge approprié</th>
                            <th scope="colgroup" colspan="1"></th>
                            <th scope="colgroup" colspan="8" class="mandatoire">Vaccinations obligatoires pour les
                                nourrissons</th>
                            <th scope="colgroup" colspan="5"></th>
                        </tr>
                        <tr class="mandatoire">
                            <th scope="col">1 mois</th>
                            <th scope="col">2 mois</th>
                            <th scope="col">3 mois</th>
                            <th scope="col">4 mois</th>
                            <th scope="col">5 mois</th>
                            <th scope="col">6 mois</th>
                            <th scope="col">11 mois</th>
                            <th scope="col">12 mois</th>
                            <th scope="col">16-18 mois</th>
                            <th scope="col">6 ans</th>
                            <th scope="col">11-13 ans</th>
                            <th scope="col">14 ans</th>
                            <th scope="col">25 ans</th>
                            <th scope="col">65 ans et +</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="bcg">BCG</th>
                            <td class="bcg"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="dtp-coq-hib">DTP et Coqueluche</th>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td class="dtp-coq-hib vaccination-trigger" role="button" tabindex="0"
                                data-fr-opened="false" data-modal-title="Rappel DTP / Coqueluche à 25 ans"
                                data-partial-path="./views/vaccination/partials/adultes/ans-25/dtp-coq-hib.html">
                                Tous les 20 ans
                            </td>
                            <td class="dtp-coq-hib">Tous les 10 ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="dtp-coq-hib">Hib</th>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="hepatite-b">Hépatite B</th>
                            <td></td>
                            <td class="hepatite-b"></td>
                            <td></td>
                            <td class="hepatite-b"></td>
                            <td></td>
                            <td></td>
                            <td class="hepatite-b"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Pneumocoque</th>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b" </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ror">ROR</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="ror"></td>
                            <td class="ror"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Méningocoques ACWY</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Méningocoque B</th>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="rotavirus">Rotavirus</th>
                            <td></td>
                            <td class="rotavirus"></td>
                            <td class="rotavirus"></td>
                            <td class="rotavirus-blur"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="hpv">HPV</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="hpv"></td>
                            <td class="hpv"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="grippe">Grippe</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="grippe">Tous les ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="covid">Covid-19</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="covid">Tous les ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="zona">Zona</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="zona"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="vrs">VRS</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="vrs">75 ans et +</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>