<div class="fr-table fr-table--bordered fr-table--no-scroll">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table class="vaccination-table">
                    <caption>Calendrier Vaccinal 2025</caption>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">Âge approprié</th>
                            <th scope="colgroup" colspan="1"></th>
                            <th scope="colgroup" colspan="8" class="mandatoire">Vaccinations obligatoires pour les
                                nourrissons</th>
                            <th scope="colgroup" colspan="5"></th>
                        </tr>
                        <tr class="mandatoire">
                            <th scope="col">1 mois</th>
                            <th scope="col">2 mois</th>
                            <th scope="col">3 mois</th>
                            <th scope="col">4 mois</th>
                            <th scope="col">5 mois</th>
                            <th scope="col">6 mois</th>
                            <th scope="col">11 mois</th>
                            <th scope="col">12 mois</th>
                            <th scope="col">16-18 mois</th>
                            <th scope="col">6 ans</th>
                            <th scope="col">11-13 ans</th>
                            <th scope="col">14 ans</th>
                            <th scope="col">25 ans</th>
                            <th scope="col">65 ans et +</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="bcg">BCG</th>
                            <td class="bcg" role="button" tabindex="0"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Tuberculose (BCG) - 1 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-1/bcg.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="dtp-coq-hib">DTP et Coqueluche</th>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="DTP et Coqueluche à 2 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-2/dtp-coq-hib.html"></td>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="DTP et Coqueluche à 4 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-4/dtp-coq-hib.html"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="DTP et Coqueluche à 11 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-11/dtp-coq-hib.html"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rappel DTP / Coqueluche à 6 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-6/dtp-coq-hib.html"</td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rappel DTP / Coqueluche à 11-13 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-11-13/dtp-coq-hib.html"></td>
                            <td></td>
                            <td class="dtp-coq-hib" role="button" tabindex="0"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rappel DTP / Coqueluche à 25 ans"
                                data-partial-path="./views/vaccination/partials/adultes/ans-25/dtp-coq-hib.html">
                                Tous les 20 ans
                            </td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rappel DTP / Coqueluche à 65 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/dtp-coq-hib.html">Tous les 10 ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="dtp-coq-hib">Hib</th>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hib à 2 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-2/dtp-coq-hib.html"></td>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hib à 4 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-4/dtp-coq-hib.html"></td>
                            <td></td>
                            <td></td>
                            <td class="dtp-coq-hib"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hib à 11 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-11/dtp-coq-hib.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="hepatite-b">Hépatite B</th>
                            <td></td>
                            <td class="hepatite-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hépatite B à 2 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-2/hepatite-b.html"></td>
                            <td></td>
                            <td class="hepatite-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hépatite B à 4 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-4/hepatite-b.html"></td>
                            <td></td>
                            <td></td>
                            <td class="hepatite-b" 
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Hépatite B à 11 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-11/hepatite-b.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Pneumocoque</th>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Pneumocoque à 2 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-2/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Pneumocoque à 4 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-4/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Pneumocoque à 11 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-11/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Pneumocoques à 65 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/pneumo-acwy-b.html"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="ror">ROR</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="ror"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="ROR à 12 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-12/ror.html"></td>
                            <td class="ror"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="ROR à 16-18 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-16-18/ror.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Méningocoques ACWY</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoques ACWY à 6 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-6/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoques ACWY à 12 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-12/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoques ACWY à 11-13 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-11-13/pneumo-acwy-b.html"></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoques ACWY à 14 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-14/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="pneumo-acwy-b">Méningocoque B</th>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoque B à 3 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-3/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoque B à 5 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-5/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                            <td class="pneumo-acwy-b"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Méningocoque B à 12 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-12/pneumo-acwy-b.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="rotavirus">Rotavirus</th>
                            <td></td>
                            <td class="rotavirus"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rotavirus à 2 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-2/rotavirus.html"></td>
                            <td class="rotavirus"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rotavirus à 3 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-3/rotavirus.html"></td>
                            <td class="rotavirus-blur"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Rotavirus à 4 mois"
                                data-partial-path="./views/vaccination/partials/nourrissons/mois-4/rotavirus.html"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="hpv">HPV</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="hpv"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="HPV à 11-13 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-11-13/hpv.html"></td>
                            <td class="hpv"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="HPV à 14 ans"
                                data-partial-path="./views/vaccination/partials/enfants/ans-14/hpv.html"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="grippe">Grippe</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="grippe"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Grippe à 65 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/grippe.html">Tous les ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="covid">Covid-19</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="covid"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Covid-19 à 65 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/covid.html">Tous les ans</td>
                        </tr>
                        <tr>
                            <th scope="row" class="zona">Zona</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="zona"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="Zona à 65 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/zona.html"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="vrs">VRS</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="vrs"
                                data-vaccination-trigger
                                data-fr-opened="false"
                                data-modal-title="VRS à 75 ans et +"
                                data-partial-path="./views/vaccination/partials/adultes/ans-65/vrs.html">75 ans et +</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>