<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

  <!-- <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w"> -->

  <div class="fr-card fr-enlarge-link fr-card--sm fr-col-12 fr-col-md-6 fr-col-lg-4 fr-m-2w">
    <div class="fr-card__body">
      <div class="fr-card__content">
        <h3 class="fr-card__title">
          <a href="#views/documents/grippe/grippe.html" target="_blank">Grippe : Bon de Prise en Charge</a>
        </h3>
        <p class="fr-card__desc">Générer un bon de prise en charge pour le vaccin grippe</p>
        <div class="fr-card__start">
        </div>
      </div>
    </div>
    <div class="fr-card__header">
      <div class="fr-card__img">
        <img class="fr-responsive-img" src="./views/documents/images/610d.png" alt="Grippe" />
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w"> -->
  <div class="fr-card fr-enlarge-link fr-card--sm fr-col-12 fr-col-md-6 fr-col-lg-4 fr-m-2w">
    <div class="fr-card__body">
      <div class="fr-card__content">
        <h3 class="fr-card__title">
          <a href="#views/documents/vaccin/vaccin.html" target="_blank">Vaccin : Bon de Prise en Charge</a>
        </h3>
        <p class="fr-card__desc">Générer un bon de prise en charge pour les vaccins (Hors grippe et COVID)</p>
        <div class="fr-card__start">
        </div>
      </div>
    </div>
    <div class="fr-card__header">
      <div class="fr-card__img">
        <img class="fr-responsive-img" src="./views/documents/images/611.png" alt="Grippe" />
      </div>
    </div>
  </div>
  <!-- </div> -->

</div>