/* /composants/codex-missives/codex-missives.css */
:host {
  display: block;
  min-width: 590px;
  min-height: 50px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.arsenal {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.missives {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 50px;
}