<template id="template-page">
    <style>
        /* --- LOGIQUE D'IMPRESSION --- */
        @media print {
            /* 1. On cache absolument tout l'interface (DSFR, Menus, Forms) */
            body * {
                visibility: hidden;
            }

            /* 2. On n'affiche que le conteneur du PDF et ses enfants */
            .pdf-page,
            .pdf-page * {
                visibility: visible;
            }

            /* 3. On plaque le PDF en haut à gauche pour éviter les marges blanches parasites */
            .pdf-page {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 0;
            }
        }

        /* --- STYLES DE L'APERÇU ÉCRAN & RENDU --- */
        .pdf-page {
            width: 200mm;
            min-height: 287mm;
            padding: 5mm;
            background: white;
            box-sizing: border-box;
            font-family: sans-serif;
            margin: 0 auto; /* Centré à l'écran */
            color: black;
        }

        .page-grid {
            display: grid;
            gap: 2mm; 
        }

        .etiquette-item {
            margin: 0 !important;
            padding: 0 !important;
            border: 1px dashed #d0d0d0 !important;
            background: white;
            text-align: center;
            height: 48mm;
            width: 23mm;
            display: flex;
            flex-direction: column;
        }

        /* Titre visible */
        .etiquette-visible-header {
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            max-height: 20mm;
            height: auto;
            overflow: hidden;
            line-height: 80%;
        }

        .etiquette-visible-header .souche {
            margin-top: 1px;
            font-size: 9pt;
            text-align: center;
            font-weight: bold;
            flex: 1;
            align-self: stretch;
            overflow: hidden;            
        }

        .etiquette-visible-header .dilution {
            font-size: 9pt;
            text-align: center;

            flex: 0 0 auto;
            align-self: center;
        }

        .etiquette-hidden-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .etiquette-hidden-body .control-text {
            flex: 0 0 auto;
            font-size: 8pt;
        }

        .datamatrix-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
        }
        
        .datamatrix-container svg {
            width: 8mm;
            height: 8mm;
        }
    </style>

    <div class="pdf-page">
        <div class="page-grid"></div>
    </div>
</template>