<h1>Infirmerie</h1>
<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

<div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-m-1v" id="tile-6">
  <div class="fr-tile__body">
    <div class="fr-tile__content">
      <h3 class="fr-tile__title">
        <a href="#views/infirmerie/facture/facture.html" data-route>Facture</a>
      </h3>
      <p class="fr-tile__detail">Générer, Imprimer des factures de produits pharmaceutiques</p>
    </div>
  </div>
  <div class="fr-tile__header">
    <div class="fr-tile__pictogram">
      <svg aria-hidden="true"  class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px" xmlns="http://www.w3.org/2000/svg">
        <text x="40" y="50" font-size="60" text-anchor="middle" fill="#333">📄</text>
        </svg>
    </div>
  </div>
</div>

<div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-m-1v" id="tile-6">
  <div class="fr-tile__body">
    <div class="fr-tile__content">
      <h3 class="fr-tile__title">
        <a href="#views/infirmerie/ordonnancier/ordonnancier.html" data-route>Ordonnancier</a>
      </h3>
      <p class="fr-tile__detail">Atelier pour Imprimer des ordonnances IDE</p>
    </div>
  </div>
  <div class="fr-tile__header">
    <div class="fr-tile__pictogram">
      <svg aria-hidden="true"  class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px" xmlns="http://www.w3.org/2000/svg">
        <text x="40" y="50" font-size="60" text-anchor="middle" fill="#333">📜</text>
        </svg>
    </div>
  </div>
</div>

</div>