<header class="fr-header" role="banner">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo" style="flex-direction: left;">
                            <img src="./favicon/android-chrome-102x102.png" alt="Logo de la pharmacie" />
                        </div>
                        <div class="fr-header__operator">
                            <codex-missives id="codexGlobal" small="true"></codex-missives>
                        </div>
                        <div class="fr-header__service">
                            <p class="fr-header__service-title">Pharmacie Saint Barthélémy</p>
                            <p class="fr-header__service-tagline">19 avenue claude monet 13014 Marseille</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template hx-get="./layout/navigation.html" hx-trigger="load" hx-swap="outerHTML"></template>
</header>