<header role="banner" class="fr-header" id="header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo"> Pharma-Codex </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button data-fr-opened="false" aria-controls="header-menu" title="Menu" type="button"
                                id="header-menu-btn" class="fr-btn--menu fr-btn">Menu</button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/pharma-codex/" title="Retour à l'accueil du site">
                            <p class="fr-header__service-title"> Pharmacie Saint Barthélémy </p>
                        </a>
                        <p class="fr-header__service-tagline">19 avenue claude monet - 13014 Marseille</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="header-menu" aria-labelledby="header-menu-btn">
        <div class="fr-container">
            <button aria-controls="header-menu" title="Fermer" type="button" id="button-28"
                class="fr-btn--close fr-btn">Fermer</button>
            <div class="fr-header__menu-links">
            </div>
            <div data-include="./layout/navigation.html"></div>
        </div>
    </div>
</header>