<nav class="fr-nav" id="header-navigation" role="navigation">
  <ul class="fr-nav__list">
    <li><a href="#views/officine/officine.html" data-route class="fr-nav__link">Officine</a></li>
    <li><a href="#views/documents/documents.html" data-route class="fr-nav__link">Documents</a></li>
    <li><a href="#views/applications/applications.html" data-route class="fr-nav__link">Applications</a></li>
    <li><a href="#views/infirmerie/infirmerie.html" data-route class="fr-nav__link">Infirmerie</a></li>
    <li><a href="#views/bellevue/bellevue.html" data-route class="fr-nav__link">Bellevue</a></li>
    <li><a href="#views/planning/planning.html" data-route class="fr-nav__link">Planning</a></li>
  </ul>
</nav>
