<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://pro.pharmacie-des-rosiers.com/index.php" target="_blank">Les Rosiers</a>
          </h3>
          <p class="fr-card__desc">Ouvre le Préparatoire dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/rosiers.png"
            alt="Les Rosiers" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://www.ocp-pharmalia.fr/ocp-pharmacien/" target="_blank">OCP</a>
          </h3>
          <p class="fr-card__desc">Ouvre OCP Pharmalia dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/ocp.png"
            alt="OCP Pharmalia" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://my.alliance-healthcare.fr/" target="_blank">Alliance</a>
          </h3>
          <p class="fr-card__desc">Ouvre Alliance dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/alliance.png"
            alt="Alliance" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://authps-espacepro.ameli.fr/" target="_blank">Ameli Pro</a>
          </h3>
          <p class="fr-card__desc">Ouvre Ameli Pro dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/amelipro.png" alt="Abena" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://abena-soins.com/Login?returnUrl=" target="_blank">Abena</a>
          </h3>
          <p class="fr-card__desc">Ouvre Abena dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/abena.png" alt="Abena" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://portal.sybycegedim.com/sy-foclient/#/dashboard" target="_blank">Sy Cegedim</a>
          </h3>
          <p class="fr-card__desc">Ouvre Sy Cegedim dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/laboratoires/images/sy-cegedim.png"
            alt="Sy Cegedim" />
        </div>
      </div>
    </div>
  </div>

</div>