<div data-load-key="vueVaccin" id="vueVaccin">
    <h1>Bon de Prise en Charge – Vaccination (Hors grippe et COVID)</h1>

    <div class="fr-callout fr-callout--info fr-mb-3w">
        <h3 class="fr-callout__title">Téléchargement du formulaire vierge</h3>
        <p class="fr-callout__text">
            Ce formulaire permet de générer un bon de prise en charge personnalisé à partir du modèle officiel.
        </p>
        <a class="fr-btn fr-btn--secondary" href="./views/documents/vaccin/pdf/611.pdf" download>
            Télécharger le PDF vierge
        </a>
    </div>

    <template hx-get="./views/documents/vaccin/forms/form-vaccin.html" hx-trigger="load" hx-swap="outerHTML"></template>

    <div id="previewContainer" class="fr-mt-4w fr-hidden">
        <h3>Prévisualisation du PDF généré</h3>
        <iframe id="pdfPreview" width="100%" height="500px" class="fr-mt-2w"></iframe>
    </div>
</div>

<script src="./static/js/libs/pdf-lib@1.17.1.js"></script>
<script src="./views/documents/vaccin/js/view-vaccin.js"></script>