<div data-load-key="vueRenouvellement" id="vueRenouvellement">
    <h1>Planification des Dates de Renouvellement</h1>
    <template hx-get="./views/applications/renouvellement/forms/form-renouvellement.html" hx-trigger="load"
        hx-swap="outerHTML"></template>

    <div class="fr-table">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col"> # </th>
                                <th scope="col"> Date </th>
                                <th scope="col"> Actions </th>
                            </tr>
                        </thead>
                        <tbody id="renouvellementTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-highlight" id="infoRenouvellement">
        <p id="messageRenouvellement">Renouvellement possible si la dernière facturation est antérieure ou égale au :
            <strong id="dateDerniereFacturation"></strong>
        </p>
    </div>

    <div class="fr-callout fr-callout--pink-macaron">
        <h3 class="fr-callout__title">Jours Fériés de l'Année</h3>
        <p class="fr-callout__text">
        <div class="fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col"> Date </th>
                                    <th scope="col"> Dénomination </th>
                                    <th scope="col"> Jour </th>
                                </tr>
                            </thead>
                            <tbody id="joursFeries"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </p>
    </div>
    <div id="modalesContainer"></div>
</div>

<script src="./static/js/libs/qrious.min@4.0.2.js"></script>
<script src="./views/applications/renouvellement/js/view-renouvellement.js"></script>