<div class="fr-tabs" data-load-key="viewOfficine">
  <ul class="fr-tabs__list" role="tablist" aria-label="hub de liens">
    <li role="presentation">
      <button type="button" id="hub-1" class="fr-tabs__tab fr-icon-mail-unread-line fr-tabs__tab--icon-left"
        tabindex="0" role="tab" aria-selected="true" aria-controls="hub-1-panel">My Messageries</button>
    </li>
    <li role="presentation">
      <button type="button" id="hub-2" class="fr-tabs__tab fr-icon-briefcase-fill fr-tabs__tab--icon-left" tabindex="-1"
        role="tab" aria-selected="false" aria-controls="hub-2-panel">Laboratoires</button>
    </li>
    <li role="presentation">
      <button type="button" id="hub-3" class="fr-tabs__tab fr-icon-tools-fill fr-tabs__tab--icon-left" tabindex="-1"
        role="tab" aria-selected="false" aria-controls="hub-3-panel">Orthopédie & Fournitures</button>
    </li>
    <li role="presentation">
      <button type="button" id="hub-4" class="fr-tabs__tab fr-icon-money-euro-box-line fr-tabs__tab--icon-left"
        tabindex="-1" role="tab" aria-selected="false" aria-controls="hub-4-panel">Tiers-payant</button>
    </li>
  </ul>

  <div id="hub-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="hub-1"
    tabindex="0">
    <div data-include="./views/officine/partials/messageries/messageries.html"></div>
  </div>
  <div id="hub-2-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="hub-2" tabindex="0">
    <div data-include="./views/officine/partials/laboratoires/laboratoires.html"></div>
  </div>
  <div id="hub-3-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="hub-3" tabindex="0">
    <div data-include="./views/officine/partials/fournitures/fournitures.html"></div>
  </div>
  <div id="hub-4-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="hub-4" tabindex="0">
    <div data-include="./views/officine/partials/mutuelles/mutuelles.html"></div>
  </div>
</div>