<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://partner.thuasne.com/fr-fr/" target="_blank">Thuasne</a>
      </h3>
      <p class="fr-card__desc">Ouvre Thuasne dans un nouvel onglet</p>
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/thuasne.png" alt="Thuasne" />
    </div>
  </div>
</div>
</div>

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://enovis-select.fr/login" target="_blank">Donjoy</a>
      </h3>
      <p class="fr-card__desc">Ouvre ENOVIS(Donjoy) dans un nouvel onglet</p>
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/enovis.png" alt="Donjoy" />
    </div>
  </div>
</div>
</div>

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://www.fld.fr/" target="_blank">F.L.D</a>
      </h3>
      <p class="fr-card__desc">Ouvre F.L.D dans un nouvel onglet</p>
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/fld.png" alt="F.L.D" />
    </div>
  </div>
</div>
</div>

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://www.locapharm-sante.fr/" target="_blank">Locapharm</a>
      </h3>
      <p class="fr-card__desc">Ouvre Locapharm dans un nouvel onglet</p>
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/locapharm.png" alt="Locapharm" />
    </div>
  </div>
</div>
</div>

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://www.lyreco.com/webshop/FRFR/index.html?lc=FRFR" target="_blank">Lyreco</a>
      </h3>
      <p class="fr-card__desc">Ouvre Lyreco dans un nouvel onglet</p>max
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/lyreco.png" alt="Lyreco" />
    </div>
  </div>
</div>
</div>

<div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
<div class="fr-card fr-enlarge-link fr-card--sm">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="https://www.maxiburo.fr/" target="_blank">Maxiburo</a>
      </h3>
      <p class="fr-card__desc">Ouvre Maxiburo dans un nouvel onglet</p>
      <div class="fr-card__start">
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      <img class="fr-responsive-img" src="/views/officine/partials/fournitures/images/maxiburo.png" alt="Maxiburo" />
    </div>
  </div>
</div>
</div>

</div>