<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

    <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-m-1v" id="tile-6">
        <div class="fr-tile__body">
            <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                    <a href="#views/atelier/trombinoscope/trombinoscope.html" data-route>Trombinoscope</a>
                </h3>
                <p class="fr-tile__detail">Outil pour générer les vignettes pour la PDA</p>
            </div>
        </div>
        <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px"
                    xmlns="http://www.w3.org/2000/svg">
                    <text x="40" y="50" font-size="60" text-anchor="middle" fill="#333">🪪</text>
                </svg>
            </div>
        </div>
    </div>

    <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-m-1v" id="tile-6">
        <div class="fr-tile__body">
            <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                    <a href="#views/atelier/purificateur/purificateur.html" data-route>Purificateur</a>
                </h3>
                <p class="fr-tile__detail">Purifier le Bon de Livraison de la PDA, et économiser de l'encre</p>
            </div>
        </div>
        <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px"
                    xmlns="http://www.w3.org/2000/svg">
                    <text x="40" y="50" font-size="60" text-anchor="middle" fill="#333">🪣</text>
                </svg>
            </div>
        </div>
    </div>

    <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-m-1v" id="tile-6">
        <div class="fr-tile__body">
            <div class="fr-tile__content">
                <h3 class="fr-tile__title">
                    <a href="#views/atelier/etiqueteuse/etiqueteuse.html" data-route>Etiqueteuse Homéopathique</a>
                </h3>
                <p class="fr-tile__detail">Étique étique étique...aie aie aie</p>
            </div>
        </div>
        <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
                <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px"
                    xmlns="http://www.w3.org/2000/svg">
                    <text x="40" y="50" font-size="60" text-anchor="middle" fill="#333">🏷️</text>
                </svg>
            </div>
        </div>
    </div>

</div>