<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-6">
        <div data-load-key="vueDatamatrix" id="vueDatamatrix">
            <template hx-get="./views/applications/datamatrix/forms/form-datamatrix.html" hx-trigger="load"
                hx-swap="outerHTML"></template>
        </div>
    </div>

    <div class="fr-col-6">
        <div class="fr-callout fr-callout--pink-macaron">
            <h3 class="fr-callout__title">Votre application de référence</h3>
            <p class="fr-callout__text">
                Imprimer des datamatrix afin de stocker plus facilement les produits dans l'automate et ainsi réduire
                les saisies utilisateurs.
            </p>
            <button id="pdf-btn" type="button" class="fr-btn fr-mt-2w" disabled>📄 Télécharger en PDF</button>
        </div>
        <div class="fr-container fr-mt-1v" id="datamatrix-output"></div>
    </div>
</div>

<script src="./static/js/libs/datamatrix.min.js"></script>
<script src="./static/js/libs/html2pdf.bundle.min@0.10.1.js"></script>
<script src="./views/applications/datamatrix/js/view-datamatrix.js"></script>