<div id="vueEtiqueteuse" data-load-key="vueEtiqueteuse">
    <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col">
            <h4>Étiqueteuse Homéopathique</h4>
        </div>
        <div class="fr-col-auto">
            <button id="btnClear" class="">​Vider la liste</button>
        </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
            <div data-include="./views/atelier/etiqueteuse/forms/form-etiquette.html"></div>
        </div>

        <!-- ===== LISTE ETIQUETEUSE ===== -->

        <div class="fr-col-12 fr-col-md-8">
            <div class="fr-table fr-table--sm">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table>
                                <caption> Liste des Souches Homéopathiques </caption>
                                <thead>
                                    <tr>
                                        <th class="fr-col--sm" scope="col">Dénomination</th>
                                        <th class="fr-col--xs" scope="col">Dosage</th>
                                        <th class="fr-col--sm" scope="col">Code-Barre</th>
                                        <th class="fr-col--xs" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="data-list">
                                    <tr>
                                        <td colspan="4" class="fr-text--center">Aucune souche ajoutée.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-mt-4v">
            <hr class="fr-hr fr-pb-2v">
            <div id="etiqueteuse-output">
            </div>
        </div>
    </div>
</div>