<div class="fr-container-fluid fr-grid-row fr-grid-row--gutters">

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Gmail</a>
          </h3>
          <p class="fr-card__desc">Ouvre Gmail dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/messageries/images/gmail.png" alt="Gmail" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://outlook.live.com/mail/0/" target="_blank">Outlook</a>
          </h3>
          <p class="fr-card__desc">Ouvre Outlook dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/messageries/images/outlook.png" alt="Outlook" />
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4 fr-mb-2w">
    <div class="fr-card fr-enlarge-link fr-card--sm">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h3 class="fr-card__title">
            <a href="https://pro.doctolib.fr/signin" target="_blank">Doctolib</a>
          </h3>
          <p class="fr-card__desc">Ouvre Doctolib dans un nouvel onglet</p>
          <div class="fr-card__start">
          </div>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <img class="fr-responsive-img" src="./views/officine/partials/messageries/images/doctolib.png"
            alt="Doctolib" />
        </div>
      </div>
    </div>
  </div>

</div>