<div data-load-key="viewPreparatoire" class="fr-table">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>Grille Tarifaire des Préparations et Vrac</caption>
                    <thead>
                        <tr>
                            <th class="fr-col__label">PRODUITS</th>
                            <th>30</th>
                            <th>60</th>
                            <th>90</th>
                            <th>100</th>
                            <th>125</th>
                            <th>150</th>
                            <th>200</th>
                            <th>250</th>
                            <th>500</th>
                            <th>1 L</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fr-cell__label">GLYCERINE</td>
                            <td>0,2</td>
                            <td>1,5</td>
                            <td>2</td>
                            <td>2,5</td>
                            <td>2,8</td>
                            <td>3,2</td>
                            <td>4,5</td>
                            <td>5,2</td>
                            <td>9,3</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td class="fr-cell__label">HUILE D'AMANDE DOUCE</td>
                            <td>2,3</td>
                            <td>4,8</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td>6,9</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td>14,9</td>
                            <td>26,9</td>
                            <td>39,99</td>
                        </tr>
                        <tr>
                            <td class="fr-cell__label">HUILE DE COCO</td>
                            <td class="fr-cell--empty">-</td>
                            <td>6,99</td>
                            <td class="fr-cell--empty">-</td>
                            <td>10,99</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td>15,99</td>
                            <td>25,99</td>
                            <td class="fr-cell--empty">-</td>
                        </tr>
                        <tr>
                            <td class="fr-cell__label">HUILE PARAFFINE</td>
                            <td>0,55</td>
                            <td>0,8</td>
                            <td>1</td>
                            <td>1,2</td>
                            <td>1,5</td>
                            <td>1,7</td>
                            <td>2</td>
                            <td>2,9</td>
                            <td>5,5</td>
                            <td class="fr-cell--modified">15,90</td>
                        </tr>
                        <tr>
                            <td class="fr-cell__label">HUILE DE RICIN</td>
                            <td>0,8</td>
                            <td>1,6</td>
                            <td>2,4</td>
                            <td>2,7</td>
                            <td>3,4</td>
                            <td>4</td>
                            <td>5,3</td>
                            <td>6,6</td>
                            <td class="fr-cell--modified">10,99</td>
                            <td>19,99</td>
                        </tr>
                        <tr>
                            <td class="fr-cell__label">JULEP GOMMEUX</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                            <td>12,9</td>
                            <td class="fr-cell--empty">-</td>
                            <td class="fr-cell--empty">-</td>
                        </tr>
                        <tr class="fr-row--highlight">
                            <td class="fr-cell__label">FLACONS (Prix à rajouter)</td>
                            <td>1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,1</td>
                            <td>1,5</td>
                            <td>2,4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>