<div data-load-key="viewPreparatoire" id="viewPreparatoire" class="fr-container">
<h4>Grille Tarifaire des Préparations et Vrac</h4>
<p class="fr-text--sm fr-mb-3w">Récapitulatif des prix par volumes (30mL à 1L) et frais de flaconnage associés</p>


  <div class="fr-table" id="table-tarifs-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-tarifs">
        <thead>
            <tr>
                <th class="fr-col__label">PRODUITS</th>
                <th>30</th>
                <th>60</th>
                <th>90</th>
                <th>100</th>
                <th>125</th>
                <th>150</th>
                <th>200</th>
                <th>250</th>
                <th>500</th>
                <th>1 L</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fr-cell__label">ACETONE</td>
                <td>0,9</td>
                <td>1,4</td>
                <td>1,8</td>
                <td>2</td>
                <td>2,8</td>
                <td>2,9</td>
                <td>3,6</td>
                <td>4,5</td>
                <td>88,5</td>
                <td>15</td>
            </tr>
            <tr>
                <td class="fr-cell__label">ALCOOL 60</td>
                <td>0,35</td>
                <td>0,55</td>
                <td>0,70</td>
                <td>0,8</td>
                <td>0,95</td>
                <td>1,25</td>
                <td>1,5</td>
                <td>1,75</td>
                <td>3,05</td>
                <td>5,93</td>
            </tr>
            <tr>
                <td class="fr-cell__label">ALCOOL 70</td>
                <td>0,30</td>
                <td>0,45</td>
                <td>0,65</td>
                <td>0,70</td>
                <td>0,85</td>
                <td>1,1</td>
                <td>1,3</td>
                <td>1,5</td>
                <td>2,55</td>
                <td>4,25</td>
            </tr>
            <tr>
                <td class="fr-cell__label">ALCOOL CAMPHRE</td>
                <td>0,45</td>
                <td>0,75</td>
                <td>1,05</td>
                <td>1,1</td>
                <td>1,35</td>
                <td>1,75</td>
                <td>2,2</td>
                <td>2,6</td>
                <td>4,85</td>
                <td>8,8</td>
            </tr>
            <tr>
                <td class="fr-cell__label">EAU DALIBOUR</td>
                <td>0,4</td>
                <td>0,65</td>
                <td>0,9</td>
                <td>0,9</td>
                <td>1,15</td>
                <td>1,45</td>
                <td>1,8</td>
                <td>2,2</td>
                <td>3,95</td>
                <td>7,05</td>
            </tr>
            <tr>
                <td class="fr-cell__label">EAU FLEUR D'ORANGER</td>
                <td>0,6</td>
                <td>1</td>
                <td>1,4</td>
                <td>1,5</td>
                <td>1,8</td>
                <td>2,2</td>
                <td>2,7</td>
                <td>3,4</td>
                <td>6,5</td>
                <td>12,2</td>
            </tr>
            <tr>
                <td class="fr-cell__label">EAU DE ROSE</td>
                <td>0,5</td>
                <td>0,7</td>
                <td>0,8</td>
                <td>1</td>
                <td>1,2</td>
                <td>1,4</td>
                <td>1,9</td>
                <td>2,6</td>
                <td>5</td>
                <td>8,7</td>
            </tr>
            <tr>
                <td class="fr-cell__label">EAU DE CHAUX</td>
                <td>0,4</td>
                <td>0,6</td>
                <td>0,8</td>
                <td>0,9</td>
                <td>1,1</td>
                <td>1,4</td>
                <td>1,7</td>
                <td>2</td>
                <td>3,6</td>
                <td>6,9</td>
            </tr>
            <tr>
                <td class="fr-cell__label">EAU DE COLOGNE</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>5</td>
                <td class="fr-cell--empty">-</td>
                <td>7,8</td>
                <td>11,45</td>
                <td>19,99</td>
            </tr>
            <tr>
                <td class="fr-cell__label">ESS TEREBENTHINE</td>
                <td>0,6</td>
                <td>1,2</td>
                <td>1,7</td>
                <td>1,9</td>
                <td>2,4</td>
                <td>2,8</td>
                <td>3,7</td>
                <td>4,6</td>
                <td>9,2</td>
                <td>19,66</td>
            </tr>
            <tr>
                <td class="fr-cell__label">GLYCERINE</td>
                <td>0,2</td>
                <td>1,5</td>
                <td>2</td>
                <td>2,5</td>
                <td>2,8</td>
                <td>3,2</td>
                <td>4,5</td>
                <td>5,2</td>
                <td>9,3</td>
                <td>18</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE D'AMANDE DOUCE</td>
                <td>2,3</td>
                <td>4,8</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>6,9</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>14,9</td>
                <td>26,9</td>
                <td>39,99</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE D'ARGAN</td>
                <td class="fr-cell--empty">-</td>
                <td>8,95</td>
                <td class="fr-cell--empty">-</td>
                <td>14,99</td>
                <td>17,95</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>34,5</td>
                <td>65</td>
                <td>121</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE CAMPHREE</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--modified">39,50</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE DE COCO</td>
                <td class="fr-cell--empty">-</td>
                <td>6,99</td>
                <td class="fr-cell--empty">-</td>
                <td>10,99</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>15,99</td>
                <td>25,99</td>
                <td class="fr-cell--empty">-</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE PARAFFINE</td>
                <td>0,55</td>
                <td>0,8</td>
                <td>1</td>
                <td>1,2</td>
                <td>1,5</td>
                <td>1,7</td>
                <td>2</td>
                <td>2,9</td>
                <td>5,5</td>
                <td class="fr-cell--modified">15,90</td>
            </tr>
            <tr>
                <td class="fr-cell__label">HUILE DE RICIN</td>
                <td>0,8</td>
                <td>1,6</td>
                <td>2,4</td>
                <td>2,7</td>
                <td>3,4</td>
                <td>4</td>
                <td>5,3</td>
                <td>6,6</td>
                <td class="fr-cell--modified">10,99</td>
                <td>19,99</td>
            </tr>
            <tr>
                <td class="fr-cell__label">JULEP GOMMEUX</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
                <td>12,9</td>
                <td class="fr-cell--empty">-</td>
                <td class="fr-cell--empty">-</td>
            </tr>
            <tr>
                <td class="fr-cell__label">TEINTURE IODEE</td>
                <td>0,4</td>
                <td>0,7</td>
                <td>1,1</td>
                <td>1,2</td>
                <td>1,5</td>
                <td>1,85</td>
                <td>2,45</td>
                <td>3,05</td>
                <td>6,1</td>
                <td>12,2</td>
            </tr>
            <tr class="fr-row--highlight">
                <td class="fr-cell__label">FLACONS (Prix à rajouter)</td>
                <td>1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,1</td>
                <td>1,5</td>
                <td>2,4</td>
            </tr>
        </tbody>
    </table>
      </div>
    </div>
  </div>
</div>