<div data-load-key="vueCuprior" id="vueCuprior">
    <div class="fr-callout fr-icon-info-line">
        <h5 class="fr-callout__title">Commande de Cuprior</h5>
        <p class="fr-callout__text">
            Ce module permet de faciliter la commande de Cuprior à partir du formulaire prérempli.
        <ol>
            <li>Remplir le formulaire avec les informations demandées <b><i>préremplies</i></b>.</li>
            <li>Générer le PDF du bon de commande <b><i>en validant le formulaire</i></b>.</li>
            <li>Envoyer le bon de commande par <b><i>courriel</i></b>.</li>
        </ol>
        </p>
    </div>
    <div data-include="./views/documents/cuprior/forms/form-cuprior.html"></div>
    <iframe id="cupriorPreview" style="width:100%;height:450px;border:1px solid #ddd;margin-top:2rem;"></iframe>
</div>
<script type="module" src="./views/documents/cuprior/js/view-cuprior.js"></script>