<!-- Cleaned and optimized trombinoscope.html -->
<div id="viewTrombinoscope" data-load-key="viewTrombinoscope">
  <div class="fr-grid-row fr-grid-row--middle">
    <div class="fr-col">
      <h4>Trombinoscope</h4>
    </div>
    <div class="fr-col-auto">
      <button id="btnPreview" class="fr-btn fr-btn--secondary">🔄 Aperçu</button>
      <button id="btnClear" class="fr-btn fr-btn--secondary"">🗑️ Vider la liste</button>
    </div>
  </div>

  <div class=" fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-tabs">
            <ul class="fr-tabs__list" role="tablist" aria-label="trombinoscope-tabs">
              <li role="presentation">
                <button type="button" id="tab-automatique" class="fr-tabs__tab" tabindex="0" role="tab"
                  aria-selected="true" aria-controls="tab-automatique-panel">💾 Automatique</button>
              </li>
              <li role="presentation">
                <button type="button" id="tab-manuel" class="fr-tabs__tab" tabindex="-1" role="tab"
                  aria-selected="false" aria-controls="tab-manuel-panel">✒️ Manuel</button>
              </li>
            </ul>
            <div id="tab-automatique-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel"
              aria-labelledby="tab-1" tabindex="0">
              <div data-include="./views/atelier/trombinoscope/forms/form-automatique.html"></div>
            </div>
            <div id="tab-manuel-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
              <div data-include="./views/atelier/trombinoscope/forms/form-manuel.html"></div>
            </div>
          </div>
        </div>

        <!-- ===== Liste Trombinoscope ===== -->
        <div class="fr-col-12 fr-col-md-8">
          <div class="fr-callout fr-callout--pink-macaron fr-mt-4v">
            <h3 class="fr-callout__title">Liste Actuelle</h3>

            <div class="fr-callout__text">
              <div class="fr-table">
                <div class="fr-table__wrapper">
                  <div class="fr-table__container">
                    <div class="fr-table__content">

                      <table>
                        <thead>
                          <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody id="data-list"></tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="fr-col-12 fr-mt-4v">
          <hr class="fr-hr fr-pb-2v">
          <div id="trombinoscope-output">
          </div>
        </div>

    </div>
  </div>